body {
    background-image: url("images/washi.png");
    background-size: cover;
  }

section {
  width: 100vw;
}

.first-view {
  display : flex;
  position: relative;
  width: 100vw;

}

.first-view img{
  width: 1000px;
  height: 1000px;
  position: relative;
  top: -250px;
  left: -250px;

}

.first-view h2{
  position: absolute;
  right: 100px;
  top: 30px;
  font-size: 80px;
  line-height: 1.6em;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
}

.first-view p{
  position: absolute;
  right: 120px;
  top: 510px;
  line-height: 1.6em;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
}

.histories {
  position: relative;

}

.histories h2{
  padding-left: 100px;
  font-size: 80px;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
}

.histories img{
  max-width:100%;
}
.history {
    position: relative;
 
  margin:0 auto;
  padding:0 15px;
}

    .history__item1 {
      position: relative;
      display: flex;
      padding:  0 35px 20px;
      text-align: right;
      margin-left: 800px;
    }

    .history__item2 {
      position: relative;
      display: flex;
      padding: 0 0 35px 20px;
      margin-left: 100px;
    }

    .history__item3 {
      position: relative;
      display: flex;
      padding: 0 0 35px 20px;
      margin-left: 800px;
    }

    .history__inner {
      max-width: 450px;
    }

    .history__iamge {
      line-height: 1;
      margin: 0;
      padding: 0;
    }
      .histories img {
        width: 150%;
        height: 150%;
        object-fit: cover;
        box-shadow: 0 0 15px rgba(#1e1d1d, 0.33);
        display: block;
      }
  
    .history__text {
      padding-top: 10px;
      letter-spacing: 0.05em;
       margin-top: 15px;
    }

    .udon-tiltle{
      
    }


.udon-area {
  position: absolute;
}

.udon-area h2{
  padding-left: 100px;
  font-size: 80px;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
}

.udon-area p{
  font-size: 40px;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
  display: block;
  text-align: right;
  
}

.udon-area img{
    width:500px;
    height:500px;
    border-radius:50%;
    object-fit: cover;
}

.img1{
  margin-left: 200px;
  position: relative;
}

.img2{
  margin-left: 700px;
  margin-top: -200px;
  position: absolute;
}

.img3{
  margin-top: 400px;
  margin-left: 150px;
  position: absolute;
}

.udon-recomended {
  position: absolute;
  padding-top: 1600px;
  display : flex;
  width: 100vw
}

.udon-recomended h2{
  padding-left: 100px;
  font-size: 80px;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
}

.udon-recomended img{
  width: 50%;
  height: 50%;
  object-fit: cover;
  margin-left: 100px;
}