body {
    background-image: url("images/washi.png");
    background-size: cover;
    overflow-x: hidden;
  }

section {
  width: 100vw;
}

.first-view {
  display : flex;
  position: relative;
  width: 100vw;

}

.first-view img{
  width: 1000px;
  height: 1000px;
  position: relative;
  top: -250px;
  left: -250px;

}

.first-view h2{
  position: absolute;
  right: 100px;
  top: 30px;
  font-size: 80px;
  line-height: 1.6em;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
}

.first-view p{
  position: absolute;
  right: 120px;
  top: 510px;
  line-height: 1.6em;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
}

.histories {
 position: relative;
}

.histories h2{
  padding-left: 100px;
  font-size: 80px;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
}

 .histories img{
  max-width:100%;
 }

 .history {
    position: relative;
    margin:0 auto;
 }

 .history__items{
  position: relative;
  padding: 0;
 }

 .history__item1 {
    display: flex;
    justify-content: flex-end;
  }

 .history__item2 {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 500px;
 }

 .history__item3 {
   display: flex;
    justify-content: flex-end;
  }

 .history__inner {
    width: 550px;
  }

 .history__iamge {
   width: 100%;
  }

  .history__iamge2 {
    width: 100%;
   }

 .histories img {
    object-fit: cover;
    box-shadow: 0 0 15px rgba(#1e1d1d, 0.33);
    display: block;
    width: 120%;
    height: 120%;
    }
  
    .history__text {
      padding-top: 10px;
      letter-spacing: 0.05em;
      padding-top: 15px;
    }

    .history__text p{
      width: 100%;
    }

 .udon-title{
      font-size: 60px;
      writing-mode: vertical-rl;
      position: absolute;
      top: 37%;
      left: 45%;
    }


.udon-area {
  position: absolute;
}

.udon-area h2{
  padding-left: 100px;
  font-size: 80px;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
}

.udon-area p{
  font-size: 40px;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
  display: block;
  text-align: right;
  
}

.udon-area img{
    width:450px;
    height:450px;
    border-radius:50%;
    object-fit: cover;
}

.img1{
  position: relative;
}

.img2{
  position: absolute;
}

.img3{
  position: absolute;
}

.udon-area p{
  padding-right: 765px;
}

.udon-area a{
  font-size: 40px;
}

.miemie{
  display: flex;
  align-items: flex-end;
  padding-left: 100px;
}

.osakaosaka{
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding-right: 200px;
  padding-top: -80px;
}

.osakaosaka img{
 margin-right: 70px;
}

.kyotokyoto{
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding-top: 350px;
  padding-right: 520px;
}

.kyotokyoto img{
  margin-right: 80px;
}

.udon-recomended {
  position: absolute;
  padding-top: 1600px;
  display : flex;
  width: 100vw
}

.udon-recomended h2{
  padding-left: 100px;
  font-size: 80px;
  font-family: "Snippet", sans-serif;
  font-weight: 1500;
  font-style: normal;
  
 
}

.udon-recomended img{
  width: 50%;
  height: 50%;
  object-fit: cover;
  margin-left: 100px;
}

.marugames{
  display: flex;
}

.marugames h2{
  font-size: 50px;
  align-items: flex-end;
}

.marugame{
  display: flex;
}

.marugame p{
  font-size: 40px;
  padding-left: 90px;
}

.marugame h2{
  padding-top: -50px;
}